.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/

#
/.apt_generated
realm_version_check.timestamp
app/src/main/res/values/com_crashlytics_export_strings.xml
/jobqueue/build
app/src/main/assets/crashlytics-build.properties

#
/keystore
/release