<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudjay.cjay"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.cloudjay.cjay.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cloudjay.cjay.permission.C2D_MESSAGE" />
   
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name="com.cloudjay.cjay.CJayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.cloudjay.cjay.receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />                
            </intent-filter>
        </receiver>

        <service android:name="com.cloudjay.cjay.service.GcmIntentService" />
        <activity
            android:name="com.cloudjay.cjay.PhotoViewerActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.GateHomeActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.AuditorHomeActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.AuditorContainerActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.AuditorIssueReportActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.AuditorIssueAssigmentActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.RepairHomeActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.RepairContainerActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.RepairIssueReportActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudjay.cjay.GateHomeActivity_" />
        </activity>
        <activity
            android:name="com.cloudjay.cjay.SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cloudjay.cjay.LoginActivity_"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.cloudjay.cjay.CameraActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar" >
        </activity>

        <service android:name="com.cloudjay.cjay.service.UploadIntentService_" />
        <service android:name="com.cloudjay.cjay.service.QueueIntentService_" />

        <receiver
            android:name="com.cloudjay.cjay.receivers.ConnectionChangeReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cloudjay.cjay.receivers.AutoStartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cloudjay.cjay.receivers.InstantUploadReceiver" >
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="photup.intent.action.PHOTO_TAKEN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>