<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cloudjay.cjay">

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
		android:name=".App">

		<meta-data android:name="com.crashlytics.ApiKey" android:value="d95dbe17ef52014812094c8003d8d48cd72d9197"/>

		<service android:name=".util.account.CJayAuthenticationService">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator"/>
			</intent-filter>

			<meta-data
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator">
			</meta-data>
		</service>

		<!--<service-->
			<!--android:name=".network.IsoCodeSyncService"-->
			<!--android:exported="true">-->
			<!--<intent-filter>-->
				<!--<action android:name="android.content.SyncAdapter"/>-->
			<!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.content.SyncAdapter"-->
                <!--android:resource="@xml/iso_code_sync_adapter"/>-->
        <!--</service>-->

        <activity
            android:name=".activity.HomeActivity_"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.LoginActivity_"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>

        <activity
            android:name=".activity.ReuseActivity_"
            android:label="@string/title_activity_reuse">
        </activity>
        <activity
            android:name=".activity.LinkIssueActivity"
            android:label="@string/title_activity_link_issue">
        </activity>
        <activity
            android:name=".activity.ReportIssueActivity"
            android:label="@string/title_activity_report_issue">
        </activity>
        <activity
            android:name=".activity.WizardActivity_"
            android:label="@string/title_activity_main_process">

        </activity>

		<activity
			android:name=".activity.CameraActivity"
			android:label="@string/title_activity_camera"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"  >

        </activity>
        <activity
            android:name=".activity.DisplayActivity"
            android:label="@string/title_activity_display">
        </activity>
        <activity
            android:name=".activity.FullScreenActivity"
            android:label="@string/title_activity_full_screen">
        </activity>
    </application>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

</manifest>
